# Ignore build artifacts
/builds/
*.pdf
*.png

# LaTeX junk
*.aux
*.fls
*.log
*.fdb_latexmk
*.xdv
*.gz
*.out
*.xml
*.bcf

# Source files to KEEP (Explicitly)
!CV.tex
!coverletter.tex
!build.sh
!Dockerfile
!.devcontainer/
!.github/
