# Ignore build artifacts
/builds/
*.pdf
*.png

# Job Details
CoverLetter/*
!CoverLetter/job_details.example.tex
!CoverLetter/opening_example.tex
!CoverLetter/evidence_example.tex
!CoverLetter/closing_example.tex

# LaTeX junk
*.aux
*.fls
*.log
*.fdb_latexmk
*.xdv
*.gz
*.out
*.xml
*.bcf

# Source files to KEEP (Explicitly)
!CV.tex
!coverletter.tex
!build.sh
!Dockerfile
!.devcontainer/
!.github/

.vscode/settings.json
